language: python
dist: precise

addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
        packages:
            - cmake
            - cmake-data
            - doxygen
            - g++-4.7
            - g++-4.8
            - g++-4.9
            - g++-5
            - g++-6
            - gcc-4.7
            - gcc-4.8
            - gcc-4.9
            - gcc-5
            - gcc-6
            - gfortran
            - gfortran-4.7
            - gfortran-4.8
            - gfortran-4.9
            - gfortran-5
            - gfortran-6
            - indent
            - libblas-dev
            - liblapack-dev
            - texlive
            - valgrind

env:
    - CC=gcc-4.7 CXX=g++-4.7 FC=gfortran-4.7 GCOV=gcov-4.7 BUILD_SHARED_LIBS=yes BML_OPENMP=no  COMMAND=testing
    - CC=gcc-4.7 CXX=g++-4.7 FC=gfortran-4.7 GCOV=gcov-4.7 BUILD_SHARED_LIBS=yes BML_OPENMP=yes COMMAND=testing
    - CC=gcc-4.8 CXX=g++-4.8 FC=gfortran-4.8 GCOV=gcov-4.8 BUILD_SHARED_LIBS=yes BML_OPENMP=no  COMMAND=testing
    - CC=gcc-4.8 CXX=g++-4.8 FC=gfortran-4.8 GCOV=gcov-4.8 BUILD_SHARED_LIBS=yes BML_OPENMP=yes COMMAND=testing
    - CC=gcc-4.9 CXX=g++-4.9 FC=gfortran-4.9 GCOV=gcov-4.9 BUILD_SHARED_LIBS=yes BML_OPENMP=no  COMMAND=testing
    - CC=gcc-4.9 CXX=g++-4.9 FC=gfortran-4.9 GCOV=gcov-4.9 BUILD_SHARED_LIBS=yes BML_OPENMP=yes COMMAND=testing
    - CC=gcc-5   CXX=g++-5   FC=gfortran-5   GCOV=gcov-5   BUILD_SHARED_LIBS=yes BML_OPENMP=no  COMMAND=testing
    - CC=gcc-5   CXX=g++-5   FC=gfortran-5   GCOV=gcov-5   BUILD_SHARED_LIBS=yes BML_OPENMP=yes COMMAND=testing
    - CC=gcc-6   CXX=g++-6   FC=gfortran-6   GCOV=gcov-6   BUILD_SHARED_LIBS=yes BML_OPENMP=no  COMMAND=testing
    - CC=gcc-6   CXX=g++-6   FC=gfortran-6   GCOV=gcov-6   BUILD_SHARED_LIBS=yes BML_OPENMP=yes COMMAND=testing
    - CC=gcc-6   CXX=g++-6   FC=gfortran-6   GCOV=gcov-6   BUILD_SHARED_LIBS=no  BML_OPENMP=no  COMMAND=testing
    - CC=gcc-6   CXX=g++-6   FC=gfortran-6   GCOV=gcov-6   BUILD_SHARED_LIBS=no  BML_OPENMP=yes COMMAND=testing
    - BML_OPENMP=no  VERBOSE_MAKEFILE=yes COMMAND=docs
    - BML_OPENMP=no  VERBOSE_MAKEFILE=yes COMMAND=indent

before_script:
    - pip install codecov

script:
    - >
        OMP_NUM_THREADS=4 CMAKE_BUILD_TYPE=Debug
        VERBOSE_MAKEFILE=yes ./build.sh ${COMMAND}

after_success:
    - codecov --gcov-exec ${GCOV}
