language: python
dist: precise

addons:
    coverity_scan:
        project:
            name: "lanl/bml"
            description: "<Your project description here>"
        notification_email: nicolasbock@gmail.com
        build_command_prepend: "./build.sh configure"
        build_command: "make -C build"
        branch_pattern: coverity_scan
    apt:
        sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
        packages:
            - cmake
            - cmake-data
            - doxygen
            - g++-4.7
            - g++-4.8
            - g++-4.9
            - g++-5
            - g++-6
            - gcc-4.7
            - gcc-4.8
            - gcc-4.9
            - gcc-5
            - gcc-6
            - gfortran
            - gfortran-4.7
            - gfortran-4.8
            - gfortran-4.9
            - gfortran-5
            - gfortran-6
            - indent
            - libblas-dev
            - liblapack-dev
            - texlive
            - valgrind

env:
    global:
        - secure: "W/BwWphH/Kc1JyF4ch94Egtb2ps2r8O44F1dm68gpYeD09dosgO7WnK4HPBMO7qAKpR+ZWvaPyFhokz+3ruE2ipl9SXFQ8ozJe9TjaEeY2TrkSembClnGdRgXUZXfXyLvvmvRhQ8I1OzwZ63k99PrKRYKiZUA7Pz2NMn8WrLlWBTxMtMkL4Kv8IPoJ7zA4FLhEfT/SUo9nB27/bHWWoCy/2CSyiMC4p1c1soJTIyPKB3BdlRvFhg3P1QZeHME6J4J8DFj+Yedc9n/WPcR4GdoUQfgDdbPe81CH4uV2z2HBi3x4TwHUCFwdDhBcElWBOpFtwnneVvNRdglEj65MNjtNSrShQOkhgPt8XpuITxaNAo03bC3yK8FXt2cRKvXDaOMrDK1J3W+nLOM5qga6XY/v7MvZV82Sxlhw3vPOkIHZdU6NJZAQ5Dl2gVnVxTOmOe8g5aNqQiaJqbRueAJwCgVnlHaB8QTP99T1d6kPbdXdJfIgucNoFmQVov9wgt+FrN/7WNrOiFFjecGiarcvuXUqzNb5V7b03acHHnrZZMBfueEyrWsGRq+fS/PmhIK2LzPlsbmq+qMwo69dO2jD7HHqMbqYQ/3hPq7z5hAKO1jOd/UI3QaGrmhLMeFWxqOt3qEYZcVmpjNc0cY70EDQpO9kkBTuTLe6C4li8+OTSk6dE="
    matrix:
        - CC=gcc-4.7 CXX=g++-4.7 FC=gfortran-4.7 GCOV=gcov-4.7 BUILD_SHARED_LIBS=yes BML_OPENMP=no  BML_INTERNAL_BLAS=no  COMMAND=testing
        - CC=gcc-4.7 CXX=g++-4.7 FC=gfortran-4.7 GCOV=gcov-4.7 BUILD_SHARED_LIBS=yes BML_OPENMP=yes BML_INTERNAL_BLAS=no  COMMAND=testing
        - CC=gcc-4.8 CXX=g++-4.8 FC=gfortran-4.8 GCOV=gcov-4.8 BUILD_SHARED_LIBS=yes BML_OPENMP=no  BML_INTERNAL_BLAS=no  COMMAND=testing
        - CC=gcc-4.8 CXX=g++-4.8 FC=gfortran-4.8 GCOV=gcov-4.8 BUILD_SHARED_LIBS=yes BML_OPENMP=yes BML_INTERNAL_BLAS=no  COMMAND=testing
        - CC=gcc-4.9 CXX=g++-4.9 FC=gfortran-4.9 GCOV=gcov-4.9 BUILD_SHARED_LIBS=yes BML_OPENMP=no  BML_INTERNAL_BLAS=no  COMMAND=testing
        - CC=gcc-4.9 CXX=g++-4.9 FC=gfortran-4.9 GCOV=gcov-4.9 BUILD_SHARED_LIBS=yes BML_OPENMP=yes BML_INTERNAL_BLAS=no  COMMAND=testing
        - CC=gcc-5   CXX=g++-5   FC=gfortran-5   GCOV=gcov-5   BUILD_SHARED_LIBS=yes BML_OPENMP=no  BML_INTERNAL_BLAS=no  COMMAND=testing
        - CC=gcc-5   CXX=g++-5   FC=gfortran-5   GCOV=gcov-5   BUILD_SHARED_LIBS=yes BML_OPENMP=yes BML_INTERNAL_BLAS=no  COMMAND=testing
        - CC=gcc-6   CXX=g++-6   FC=gfortran-6   GCOV=gcov-6   BUILD_SHARED_LIBS=yes BML_OPENMP=no  BML_INTERNAL_BLAS=no  COMMAND=testing
        - CC=gcc-6   CXX=g++-6   FC=gfortran-6   GCOV=gcov-6   BUILD_SHARED_LIBS=yes BML_OPENMP=yes BML_INTERNAL_BLAS=no  COMMAND=testing
        - CC=gcc-6   CXX=g++-6   FC=gfortran-6   GCOV=gcov-6   BUILD_SHARED_LIBS=yes BML_OPENMP=no  BML_INTERNAL_BLAS=yes COMMAND=testing
        - CC=gcc-6   CXX=g++-6   FC=gfortran-6   GCOV=gcov-6   BUILD_SHARED_LIBS=yes BML_OPENMP=yes BML_INTERNAL_BLAS=yes COMMAND=testing
        - CC=gcc-6   CXX=g++-6   FC=gfortran-6   GCOV=gcov-6   BUILD_SHARED_LIBS=no  BML_OPENMP=no  BML_INTERNAL_BLAS=no  COMMAND=testing
        - CC=gcc-6   CXX=g++-6   FC=gfortran-6   GCOV=gcov-6   BUILD_SHARED_LIBS=no  BML_OPENMP=yes BML_INTERNAL_BLAS=no  COMMAND=testing
        - BML_OPENMP=no  VERBOSE_MAKEFILE=yes COMMAND=docs
        - BML_OPENMP=no  VERBOSE_MAKEFILE=yes COMMAND=indent

before_script:
    - bundle install
    - bundle exec danger
    - pip install codecov

before_install:
    - >
        echo -n |
        openssl s_client -connect scan.coverity.com:443 |
        sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' |
        sudo tee -a /etc/ssl/certs/ca-
    - pip install cpp-coveralls

script:
    - >
        OMP_NUM_THREADS=4 CMAKE_BUILD_TYPE=Debug
        VERBOSE_MAKEFILE=yes ./build.sh ${COMMAND}

after_success:
    - codecov --gcov-exec ${GCOV}
    - coveralls
