---

name: CI
on:
  release:
    type:
      - created
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    # Weekly on Sundays:
    - cron: '00 04 * * 0'

  workflow_dispatch:

# Defaults
env:
  TEST_SCRIPT: ./build.sh

jobs:
  lint:
    name: Lint sources
    runs-on: ubuntu-18.04
    steps:
      - name: Check out sources
        uses: actions/checkout@v1
      - name: Prepare container
        run: ./scripts/prepare-container.sh
      - run: bundle install
      - run: bundle exec danger || true
      - run: BML_OPENMP=no EMACS=emacs27 ./build.sh --debug check_indent

  docs:
    name: Build docs
    runs-on: ubuntu-18.04
    steps:
      - name: Check out sources
        uses: actions/checkout@v2
      - name: Prepare container
        run: ./scripts/prepare-container.sh
      - name: Build docs
        run: ./build.sh --debug docs

  build:
    name: Build and test the library (${{ matrix.JOBNAME }})
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - JOBNAME: gcc-4.8 C single real
            TEST_SCRIPT: ./scripts/ci-gcc-4.8-C-single-real.sh
          - JOBNAME: gcc-4.8 C double real
            TEST_SCRIPT: ./scripts/ci-gcc-4.8-C-double-real.sh
          - JOBNAME: gcc-4.8 C single complex
            TEST_SCRIPT: ./scripts/ci-gcc-4.8-C-single-complex.sh
          - JOBNAME: gcc-4.8 C double complex
            TEST_SCRIPT: ./scripts/ci-gcc-4.8-C-double-complex.sh
          - JOBNAME: gcc-4.8 Fortran single real
            TEST_SCRIPT: ./scripts/ci-gcc-4.8-Fortran-single-real.sh
          - JOBNAME: gcc-4.8 Fortran double real
            TEST_SCRIPT: ./scripts/ci-gcc-4.8-Fortran-double-real.sh
          - JOBNAME: gcc-4.8 Fortran single complex
            TEST_SCRIPT: ./scripts/ci-gcc-4.8-Fortran-single-complex.sh
          - JOBNAME: gcc-4.8 Fortran double complex
            TEST_SCRIPT: ./scripts/ci-gcc-4.8-Fortran-double-complex.sh
          - JOBNAME: gcc-11 C single real
            TEST_SCRIPT: ./scripts/ci-gcc-11-C-single-real.sh
          - JOBNAME: gcc-11 C double real
            TEST_SCRIPT: ./scripts/ci-gcc-11-C-double-real.sh
          - JOBNAME: gcc-11 C single complex
            TEST_SCRIPT: ./scripts/ci-gcc-11-C-single-complex.sh
          - JOBNAME: gcc-11 C double complex
            TEST_SCRIPT: ./scripts/ci-gcc-11-C-double-complex.sh
          - JOBNAME: gcc-11 Fortran single real
            TEST_SCRIPT: ./scripts/ci-gcc-11-Fortran-single-real.sh
          - JOBNAME: gcc-11 Fortran double real
            TEST_SCRIPT: ./scripts/ci-gcc-11-Fortran-double-real.sh
          - JOBNAME: gcc-11 Fortran single complex
            TEST_SCRIPT: ./scripts/ci-gcc-11-Fortran-single-complex.sh
          - JOBNAME: gcc-11 Fortran double complex
            TEST_SCRIPT: ./scripts/ci-gcc-11-Fortran-double-complex.sh
          - JOBNAME: MPI single real
            TEST_SCRIPT: ./scripts/ci-MPI-single-real.sh
          - JOBNAME: MPI double real
            TEST_SCRIPT: ./scripts/ci-MPI-double-real.sh
          - JOBNAME: MPI single complex
            TEST_SCRIPT: ./scripts/ci-MPI-single-complex.sh
          - JOBNAME: MPI double complex
            TEST_SCRIPT: ./scripts/ci-MPI-double-complex.sh
          - JOBNAME: clang-12 / gfortran-11 C single real
            TEST_SCRIPT: ./scripts/ci-clang-12-gfortran-11-C-single-real.sh
          - JOBNAME: clang-12 / gfortran-11 C double real
            TEST_SCRIPT: ./scripts/ci-clang-12-gfortran-11-C-double-real.sh
          - JOBNAME: clang-12 / gfortran-11 C single complex
            TEST_SCRIPT: ./scripts/ci-clang-12-gfortran-11-C-single-complex.sh
          - JOBNAME: clang-12 / gfortran-11 C double complex
            TEST_SCRIPT: ./scripts/ci-clang-12-gfortran-11-C-double-complex.sh
    steps:
      - name: Check out sources
        uses: actions/checkout@v2
      - name: Prepare container
        run: ./scripts/prepare-container.sh
      - name: Build and test library
        env:
          TEST_SCRIPT: ${{ matrix.TEST_SCRIPT || env.TEST_SCRIPT }}
        run: ${TEST_SCRIPT} testing
