---

name: Container Image
on:
  push:
    branches:
      - master
  schedule:
    # Weekly on Sundays:
    - cron: '00 04 * * 0'

  workflow_dispatch:

jobs:
  containers:
    name: Update container images
    runs-on: ubuntu-latest
    if: ${{ github.repository == 'lanl/bml' }}
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push Docker images
        uses: docker/build-push-action@v2.4.0
        with:
          push: true
          tags: nicolasbock/bml:latest
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
